@import-normalize;

*,
*::after,
*::before{
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

ul{
  margin: 0;
  padding: 0;
}

img{
  pointer-events: none;
}

:root{
  --index: calc(1vh + 1vw)
}

.container{
  max-width: 1210px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.appWrapper{
  background: #2D2E32;
}